#career{
    .leftCareer{
      text-align: right;
      border-right: 2px solid $black;
    }
    .rightCareer{
      text-align: left;
    }
    .leftCareer, .rightCareer{
      padding: 20px;
      .date{
        font-weight: 700;
      }
      .city{
        font-style: oblique;
      }
    }
    .col-md-6:nth-child(odd){
      margin-top: 0px;
    }
    .col-md-6:nth-child(even){
      margin-top: 100px;
    }
    @media (max-width: $medium-bp){
      .leftCareer, .rightCareer{
        text-align: center;
        border: none;
      }
      .col-md-6:nth-child(even){
        margin: 0;
      }
    }
    
  }